.env
.env.*
!.env.example
!.env.*.example

**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/__pycache__/
**/*.pyc
**/node_modules/
frontend/dist/
frontend/vite.config.ts.timestamp-*.mjs
backend/uploads/
